* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-yellow: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --gray700: hsl(0, 0%, 20%);
  --gray800: hsl(0, 0%, 12%);
  --gray900: hsl(0, 0%, 8%);
}

body {
  background-color: var(--gray900);
  font-family: "Inter", "sans serif";
  font-size: 14px;
}

.container {
  border-radius: 10px;
  padding: 2rem;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gray800);
  color: var(--white);
  max-width: 25rem;
}

.address {
  color: var(--primary-yellow);
}

.social-links-list {
  width: 100%;
}

.list-item {
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid var(--gray700);
  list-style-type: none;
}

a {
  color: var(--white);
  text-decoration: none;
}

.list-item:hover {
  cursor: pointer;
  background-color: var(--primary-yellow);
}

.list-item:hover a {
  color: var(--gray900);
}
